<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a href="/" class="me-3 py-2 text-dark text-decoration-none">На главную</a>
            <a sec:authorize="hasAuthority('permission:write')" href="/users" class="me-3 py-2 text-dark text-decoration-none">Пользователи</a>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-link me-3 py-2 text-dark text-decoration-none">Выйти</button>
            </form>
        </nav>
    </div>
</div>